body {
  margin: 0;
  padding: 0;
  font-family: Karla;
}

#cnv, video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

video#back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
}

video#mj {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%,-50%);
  z-index: 0;
}

.index {
  margin: 60px auto;
  width: 600px;
}

.index > section {
  margin: 50px 0;
}

.index h2 {
  margin: 15px 0;
}

.index h3 {
  margin: 0;
}

.index p {
  margin: 0;
}


.index div {
  margin: 10px 0;
}

a, a:visited, a:hover {
  color: #000;
}
